<div class="food-preferences">
  <div class="preferences-grid">
    <div class="preference-column">
      <h4 class="column-title">
        <span class="icon">✓</span> Favorite Foods
      </h4>
      <ul class="food-list">
        @for (food of foodData.favorites; track food) {
          <li class="food-item favorite">
            {{ food }}
          </li>
        }
      </ul>
    </div>

    <div class="preference-column">
      <h4 class="column-title">
        <span class="icon">✗</span> Disliked Foods
      </h4>
      <ul class="food-list">
        @for (food of foodData.dislikes; track food) {
          <li class="food-item dislike">
            {{ food }}
          </li>
        }
      </ul>
    </div>
  </div>
</div>